---
---

// ---------------------------------------
// Overriding the theme's original colors
// ---------------------------------------

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #212121;
$header-bg-color-secondary: #212121;

// Text
$section-headings-color: #02441a;
$body-text-color: #373737;
$body-link-color: #0F79D0;
$blockquote-text-color: #666;

// Code
$code-bg-color: #fff;
$code-text-color: #222;

// Borders
$border-color: #f8f8f8;
$table-border-color: #373737;
$hr-border-color: #777;

@import "{{ site.theme }}";

$nav-bg-color: #3e4d42;

body {
    background: #f2f2f2;
}

.page-header {
    color: $header-heading-color;
    text-align: center;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

    @include large {
        padding: 2rem 4rem;
    }

    @include medium {
        padding: 1.5rem 3rem;
    }

    @include small {
        padding: 1rem 1rem;
    }
}

.project-tagline {
    font-weight: normal;
    opacity: 0.7;
  
    @include large {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
  
    @include medium {
        font-size: 1.15rem;
        margin-bottom: 1.75rem;
    }
  
    @include small {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

.btn {
    display: inline-block;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.0s, background-color 0.0s, border-color 0.0s;

    &:hover {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        border-color: rgba(255, 255, 255, 0.3);
    }

    + .btn {
        margin-left: 1rem;
    }

    @include large {
        padding: 0.75rem 1rem;
    }

    @include medium {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }

    @include small {
        display: block;
        width: 100%;
        padding: 0.25rem 0.5rem;
        font-size: 0.9rem;

        + .btn {
        margin-top: 0.5rem;
        margin-left: 0;
        }
    }
}

.site-footer {
    text-align: right;
}

.btn-download:hover {
    // background-color: rgba(45, 255, 105, 0.2);
    // border-color: rgba(45, 255, 105, 0.3);
    background-color: hsl(137, 35%, 25%);
    border-color: hsl(137, 35%, 45%);
}

.btn-download {
    background-color: hsl(137, 30%, 20%);
    border-color: hsl(137, 30%, 35%);
}

.inline-download {
    box-shadow: 0 0 4px 0 inset rgb(126, 126, 126);
    background-color: rgb(246, 246, 246);
    padding: 0.1em 0.4em;
    color: rgb(25, 97, 37);
    border-radius: 3px;
}

.all-downloads-group-parent {
    position: relative;
    height: 5em;
}

.all-downloads-group {
    position: relative;
    // width: 100vw;
    // margin-left: -50vw;
    // left: 50%;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    // background-color: $header-bg-color;
}

.download-block {
    display: inline-block;
    width: 120px;
    margin: 0 2em;
}

.logo {
    width: 80px;
    height: 80px;
    background-size: contain !important;
    margin: 0.5em auto;
}

.logo.windows {
    background: url('../images/Windows_logo_–_2012_(dark_blue).svg') center center no-repeat;
}

.logo.macos {
    background: url('../images/Apple_logo_black.svg') center center no-repeat;
}
.logo.linux {
    background: url('../images/Tux-flat.svg') center center no-repeat;
}

.stretch {
    width: 100%;
}

.nav-top {
    position: sticky;
    top: 0;
    text-align: center;
    padding: 0rem;
    display: block;
    padding: 0;
    margin: 0;
    height: 3rem;
    width: 100%;
    background-color: $nav-bg-color;
    box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 1.0);
    z-index: 5;
}

.nav-top a {
    cursor: pointer;
    color: whitesmoke;
}

.nav-top-center {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.nav-top ul {
    position: relative;
    height: 100%;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.nav-top ul li {
    margin: 0rem 1rem;
    position: relative;
    line-height: 2;
    height: 100%;
    width: max-content;

    @include large {
        padding: 0.5rem 1rem;
    }

    @include medium {
        padding: 0.5rem 1rem;
    }

    @include small {
        padding: 0.5rem 0rem;
    }
}

.nav-top ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: max-content;
    right: 0;
    text-align: left;
    padding: 0rem;
    background-color: $nav-bg-color;
    box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 1.0);
    height: unset;
}

.nav-top ul ul li {
    margin: 0.1rem;
    padding: 0rem 0.5rem;
    width: max-content;
    text-align: left;
}

.nav-top li.nav-sub-open ul {
    display: block;
}

//header {
//    background-image: none;
//    background-color: #212121;
//    color: #fff;
//}



