---
---

// ---------------------------------------
// Overriding the theme's original colors
// ---------------------------------------

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #212121;
$header-bg-color-secondary: #212121;

// Text
$section-headings-color: #1f472a;
$body-text-color: #373737;
$body-link-color: #0F79D0;
$blockquote-text-color: #666;

// Code
$code-bg-color: #fff;
$code-text-color: #222;

// Borders
$border-color: #f8f8f8;
$table-border-color: #373737;
$hr-border-color: #777;

@import "{{ site.theme }}";

body {
    background: #f2f2f2;
}

.btn-download:hover {
    background-color: rgba(45, 255, 105, 0.2);
    border-color: rgba(45, 255, 105, 0.3);
}

.btn-download {
    background-color: rgba(45, 255, 105, 0.08);
    border-color: rgba(45, 255, 105, 0.2);
}

//header {
//    background-image: none;
//    background-color: #212121;
//    color: #fff;
//}



