<!DOCTYPE html>
    <html lang="{{ site.lang | default: "en-US" }}">
    <head>
        {% if site.google_analytics %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ site.google_analytics }}');
        </script>
        {% endif %}
        <script src="jquery-3.3.1.min.js"></script>
        <meta charset="UTF-8">

        {% seo %}
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#050505">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
    <body>
        <header class="page-header" role="banner">
            <h1 class="project-name">EMULSION</h1>
            <h2 class="project-tagline">A lightweight and minimalistic image viewer.</h2>
            <a href="https://github.com/ArturKovacs/emulsion/releases/latest" class="btn btn-download" id="installer-link">Download for Windows</a>
            <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
            <script>
                $.getJSON("https://api.github.com/repos/ArturKovacs/emulsion/releases/latest").done(function(release) {
                    var asset = release.assets[0];
                    var link = document.getElementById("installer-link");
                    link.href = asset.browser_download_url;
                });
            </script>
        </header>
        <nav class="nav-top">
            <div class="nav-top-center">
                <ul>
                    {% for item in site.data.toc.elements %}
                        <li>
                            {% if item.url %}
                                <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                            {% else %}
                                <a onclick="toggleSubmenu(this)">{{ item.title }} ▼</a>
                                <ul>
                                    {% for entry in item.subfolderitems %}
                                        <li><a href="{{ entry.url | relative_url}}">{{ entry.page }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>    
            </div>
        </nav>
        <script>
            function toggleSubmenu(atag) {
                console.log("Toggling submen from ", atag);
                var parentLi = atag.parentNode;
                if (parentLi.classList.contains('nav-sub-open')) {
                    parentLi.classList.remove('nav-sub-open')
                } else {
                    var siblings = parentLi.parentNode.getElementsByTagName('LI');
                    for (var i = 0; i != siblings.length; ++i) {
                        siblings[i].classList.remove('nav-sub-open')
                    }
                    parentLi.classList.add('nav-sub-open')
                }
            }
        </script>

        <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
            <span>
                <a href="{{ site.github.owner_url }}">Artúr Kovács</a>
                <br>
                <a href="mailto:kovacs.artur.barnabas@gmail.com">kovacs.artur.barnabas@gmail.com</a>
            </span>
        </footer>
        </main>
    </body>
</html>
